<footer class="footer">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 py-16">
        <ul class="grid grid-cols-12 gap-4">
            <li class="col-span-12 lg:col-span-2">
                <div class="brand-logo mb-2 lg:mb-8">
                    <img src="https://www.yiponline.com/resources/img/yip-online.png" alt="Brand logo">
                </div>
                <h5 class="column-title | sr-only font-semibold text-lg">Our Address</h5>
                <p>Lagos, Nigeria</p>
            </li>
            <li class="col-span-6 lg:col-span-2">
                <h5 class="column-title | font-semibold text-lg">Our Contacts</h5>
                <ul class="flex gap-3 flex-col">
                    <li>
                        <p>
                            <span class="font-semibold mr-2">Support:</span>
                            09037912235
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="font-semibold mr-2">Sales:</span>08095306440
                        </p>
                    </li>
                </ul>
            </li>
            <li class="col-span-6 lg:col-span-2">
                <h5 class="column-title | font-semibold text-lg">Useful Links</h5>
                <ul class="flex gap-3 flex-col">
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </li>
            <li class="col-span-6 lg:col-span-2">
                <h5 class="column-title | font-semibold text-lg">Our Services</h5>
                <ul class="flex gap-3 flex-col">
                    <li><a href="#">Powpa</a></li>
                    <li><a href="#">Simpo</a></li>
                    <li><a href="#">Software Dev</a></li>
                </ul>
            </li>
            <li class="col-span-6 lg:col-span-2">
                <h5 class="column-title | font-semibold text-lg">About</h5>
                <ul class="flex gap-3 flex-col">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Send a Message</a></li>
                </ul>
            </li>
            <li class="col-span-6 lg:col-span-2">
                <h5 class="column-title | font-semibold text-lg">Social Media</h5>
                <ul class="social-icons | flex gap-4">
                    <li>
                        <a href="#">
                            <i class="fab fa-facebook fa-icon"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-twitter fa-icon"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-linkedin fa-icon"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-instagram fa-icon"></i>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

        <hr class="block mt-16 mb-4">

            <p class="text-center lg:text-right">
                <small>Yip-Online IT Services. © 2023. All Rights Reserved</small>
            </p>
    </div>
</footer>


<script src="javascripts/main.js"></script>
</body>

</html>