<!-- HEADER -->
<%- include("./includes/header.ejs") %>

    <section class="hero | flex items-center justify-center">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="container mx-auto gap-4 flex items-center flex-col lg:flex-row">
                <!-- Left side: Title and Tagline -->
                <div class="lg:w-1/2">
                    <h1
                        class="text-4xl lg:text-6xl font-bold mb-4 text-primary-600 | animate__animated animate__fadeIn">
                        Does Your Business Need To
                        Grow?</h1>
                    <p
                        class="font-semibold text-md lg:text-lg mb-4 text-primary-600 | animate__animated animate__fadeIn animate__delay-1s">
                        You're in luck, we have just
                        what you
                        need: simple, affordable and quick-to-deploy technology, tools and apps for your SME and
                        Large Enterprises!</p>
                    <a href="#"
                        class="call-to-action | py-3 fs-nav hover:text-gray-200 text-white | animate__animated animate__fadeIn animate__delay-2s">Get
                        Started
                        Now</a>
                </div>

                <!-- Right side: Feature Image -->
                <div class="image-bg-sect | lg:w-1/2 mt-6 lg:mt-0">
                    <img src="/images/business-plan-illustrator.svg" alt="Feature image: Busines planning illustration" loading="lazy"
                        class="animate__animated animate__fadeIn animate__delay-1s">
                </div>
            </div>
        </div>
    </section>

    <section class="pt-4">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <h2 class="text-center text-3xl lg:text-4xl font-bold ff-headline text-primary-600 | fade-in">Who We Are</h2>
            <p class="text-center max-w-4xl mx-auto text-lg lg:text-xl font-semibold mb-4 text-primary-600 | fade-in" data-delay="200">
            </p>
            <p class="text-center max-w-4xl mx-auto text-lg lg:text-xl font-semibold mb-4 text-primary-600 | fade-in"
                data-delay="400">We Yeepsters make running a business a breeze by developing smart technology that
                simplifies tasks, streamlines operations, and boosts efficiency and profits. Yeep that's what we do!
                We'll take care of the technical side of things, so you can focus on the fun part of running your
                business. Let's work together to make your business soar!<br />
                <a href="#" class="text-link | link-icon text-md lg:text-lg font-semibold mt-4 block">Find Out
                    More</a>
            </p>
        </div>
    </section>



    <section class="pt-8">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="container mx-auto gap-4 flex items-center flex-col lg:flex-row">
                <!-- Left side: Title and Tagline -->
                <div class="order-2 lg:order-1 lg:w-1/2">
                    <h2 class="text-3xl lg:text-4xl font-bold ff-headline text-primary-600 | fade-in">We Can Help</h2>
                    <p class="text-lg lg:text-xl font-semibold text-primary-600 | fade-in">Let's show you how we can use
                        Tech to grow your business!<br />
                        <a href="#" class="call-to-action | py-3 fs-nav hover:text-gray-200 text-white mt-4">Get Started
                            Now</a>
                    </p>
                </div>

                <!-- Right side: Feature Image -->
                <div class="order-1 lg:order-2 lg:w-1/3 mt-6 lg:mt-0 | fade-in">
                    <img src="/images/place-order-illustrator.svg" alt="Feature Image: Receiving requests illustration" loading="lazy"
                        class="w-full h-auto rounded-lg">
                </div>
            </div>
        </div>
    </section>


    <section class="jigsaw-bg py-8">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="grid grid-cols-3 items-center gap-4 lg:gap-6 mx-auto">
                <div class="col-span-3 md:col-span-1">
                    <!-- Item 1 -->
                    <div class="flex items-start justify-center h-full flex-col | fade-in">

                        <h2 class="text-3xl lg:text-4xl font-bold ff-headline text-primary-600">Solutions Provided
                        </h2>
                        <p class="max-w-4xl mx-auto text-md lg:text-xl font-semibold mb-4 text-primary-600">We
                            focus on
                            bringing value and solve business main
                            challenges</p>
                    </div>
                </div>
                <div class="col-span-3 md:col-span-1 h-full">
                    <!-- Item 2 -->
                    <div class="p-4 text-white text-center h-full flex flex-col justify-between | fade-in"
                        data-delay="500">
                        <img src="/images/e-commerce-illustrator.svg" alt="E-commerce platform illustration" loading="lazy">
                        <h6 class="text-lg font-semibold text-primary-600">E-commerce</h6>
                    </div>
                </div>
                <div class="col-span-3 md:col-span-1 h-full">
                    <!-- Item 3 -->
                    <div class="p-4 text-white text-center h-full flex flex-col justify-between | fade-in"
                        data-delay="700">
                        <img src="/images/hospitality-illustrator.svg" alt="Care & hospitality illustration" loading="lazy">
                        <h6 class="text-lg font-semibold text-primary-600">Hospitality</h6>
                    </div>
                </div>
                <div class="col-span-3 md:col-span-1 h-full">
                    <!-- Item 4 -->
                    <div class="p-4 text-white text-center h-full flex flex-col justify-between | fade-in"
                        data-delay="900">
                        <img src="/images/search-functionality-illustrator.svg" alt="Searching illustration" loading="lazy">
                        <h6 class="text-lg font-semibold text-primary-600">Search Functionality</h6>
                    </div>
                </div>
                <div class="col-span-3 md:col-span-1 h-full">
                    <!-- Item 5 -->
                    <div class="p-4 text-white text-center h-full flex flex-col justify-between | fade-in"
                        data-delay="1100">
                        <img src="/images/custom-domain-illustrator.svg" alt="Internet web & domain illustration" loading="lazy">
                        <h6 class="text-lg font-semibold text-primary-600">Custom Domain</h6>
                    </div>
                </div>
                <div class="col-span-3 md:col-span-1 h-full">
                    <!-- Item 5 -->
                    <div class="p-4 text-white text-center h-full flex flex-col justify-between | fade-in"
                        data-delay="1300">
                        <img src="/images/responsive-themes-illustrator.svg" alt="Fixing puzzles(websites and application responsiveness) illustration" loading="lazy">
                        <h6 class="text-lg font-semibold mb-4 text-primary-600">Responsive Themes</h6>
                    </div>
                </div>
            </div>

        </div>
    </section>



    <!-- FOOTER -->

    <%- include("./includes/footer.ejs") %>