<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel='stylesheet' href='/stylesheets/normalize-8.0.1.css' />
    <!-- Tailwind CSS -->
    <link rel='stylesheet' href='/stylesheets/tailwind/output.css' />
    <!-- Custom CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to <%= title %>
    </p>
    <h1 class="text-3xl font-bold underline">
        Hello world!
    </h1>
</body>

</html>