<!-- HEADER -->
<%- include("./includes/header.ejs") %>

    <section class="py-8 h-96">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 h-full">
            <h1 class="text-primary-600 font-bold text-center text-8xl">404</h1>
            <p class="text-primary-600 font-bold text-2xl text-center">PAGE NOT FOUND</p>
        </div>
    </section>



    <!-- FOOTER -->
    <%- include("./includes/footer.ejs") %>